<mat-toolbar>
    <mat-toolbar-row>
        <img src="" class="img">
        <div class="title1">
        </div>
        <h1 style="color:white;margin-left: 1%;font-size: 60px;">Choose Your Langualge</h1>

    </mat-toolbar-row>
  </mat-toolbar>
  <article class="wrapper">
<div class="language">
    <div class="lang">
        <h2 style="text-align:center"><b>Choose your language:</b></h2>
    </div>    
    <button class="english">English</button>
    <button class="telugu">Telugu</button>
    <button class="hindhi">Hindhi</button>    
</div> 
</article>