/* .form{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding: 20px;
    align-items: center;
    margin-left: -20em;
    margin-top: 5em;
    border-radius: 5px;
    background-color: #3b3b3b;
}
.form1{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}
.box1{
    height: 400px;
    width: 400px;
   margin-left: 100%;
   margin-top: -95%;
    border-radius: 5px;
    border: 1px solid black;
    background-image:url("../../assets/marblegranite3.jpeg");
}
.email{
    height: 30px;
    width: 300px;
    margin-top: -4em;
    border-radius: 5px;
    border: 1px solid rgb(175, 156, 156);
}
.in{
    color: black;
    background-color: white;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-left: 10em;
    margin-top: 10%;
}
.mail{
    color:white;
    margin-top: 3em;
}
.mail1{
    color:white;
}
.new{
    text-align: center;
    margin-top: 7em;
    color: black;
}
.text{
    text-align: center;
    color: black;
}
.sign{
    height: 30px;
    width: 100px;
    margin-top: 3em;
    color: white;
    border-radius: 8px;
    background-color: #3b3b3b;
    align-items: center;
    margin-left: 12em;
    border: 0;
}
.signup{
    height: 35em;
    width: 400px;
    border: 1px solid black;
    background-color: #3b3b3b;
    margin-left: 3em;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2em;
}
.input{
    border-radius: 5px;
    height: 2em;
    width: 30em;
}
.name{
    color: white;
    font-size: 1.3em;
}
.name1{
    color: white;
  
    margin-bottom: 1em;  
    text-align: center;
    font-size: 50px;
}
.submit{
    height: 30px;
    width: 100px;
    color: #3b3b3b;
    background-color:white;
    border-radius: 5px;
    border: 0;  
    margin-left: 40%;
    margin-top: 1.5em;  
}
.mobile{
    color: white;
    margin-top: 1em;
    text-align: center;
    margin-left: -15%;
}



body {
    background: #fff;
  }
  
  .title {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
  }
 
  
 


  

.email{
    height: 30px;
    width: 300px;
    margin-top: -4em;
    border-radius: 5px;
    border: 1px solid rgb(175, 156, 156);
}
.login{
    color: black;
    background-color: white;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-left: 10em;
    margin-top: 3em;
}
.mail{
    color:white;
}

/*this is for toolbar*/
/* mat-toolbar-row{
    background-color: #3b3b3b;
    height: 80px;
  }
.img{
    height: 75px;
      border-radius: 50%;      
}
.title1{
     color: white;
    margin-left: 40%;
    font-size: 2em;
     
}
  .log{    
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;
 margin-left: 30%;
    height: 50px;
    width: 100px;
  }
.search{
    height: 40px;
    width: 40em;
    border-radius: 10px;
    margin-left: 10em;
    margin-top: 1em;
    border: 0;
}
.button{
    border-radius: 8px;
    margin-left: 1em;
    border: 0;
}
.buttons{   
    margin-left: 10em;
    margin-top: 1em;
}
.button:hover{
    background-color: rgb(63, 60, 66);
}


.pop-up { 
    position: fixed;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    z-index: 9998;
    top: 0;

    min-height:100%;
    height:100%;
  } */








 
